<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="integration" verbose="1" configfailurepolicy="continue">
    <test verbose="1" name="games" parallel="methods" thread-count="1">
        <classes>
            <class name="runner.SuiteRunner"></class>
        </classes>
    </test>
</suite>